@model CoverType


<!-- asp-action คือบอกว่าจะยิงไปที่ Action ไหน  -->
<form method="post" asp-action="Delete">
    <!--  id ไว้ลบ -->
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete CoverType</h2>
            <hr />
        </div>
        <div class="mb-3">
            <!--asp-for เป็น tag helper ใช้สำหรับ bilding Name กับตัวแปรใน Model เลย-->
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled/>
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px;">Back</a>
    </div>
</form>

@section Scripts{
    @* validation Client side  ถ้า validation ไม่ผ่านจะไม่ส่งไปให้ server เลย *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
